---
layout: default
permalink: /news/appearances/
---
<main id="appearances" class="sub-page blog-page">
    <section class="hero dark-section">
        <div class="container">
            <h1>Appearances</h1>
        </div>
    </section>
    {% if site.data.appearances.upcoming[0] %}
    <section>
        <div class="container">
            <div class="appearance-group">
                <div class="group-title">
                    <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.1202 3.16798L24.3323 3.04495L24.4942 2.86078C25.2294 2.02427 26.3026 1.5 27.5 1.5C28.6974 1.5 29.7706 2.02427 30.5058 2.86078L30.6677 3.04495L30.8798 3.16799C36.9147 6.66864 43.0261 10.1386 49.1252 13.5H5.87109C12.0756 10.0797 18.1914 6.60715 24.1202 3.16798Z" transform="translate(5.5)" stroke="#CAD5D9" stroke-width="3" />
                        <path d="M24.1202 3.16798L24.3323 3.04495L24.4942 2.86078C25.2294 2.02427 26.3026 1.5 27.5 1.5C28.6974 1.5 29.7706 2.02427 30.5058 2.86078L30.6677 3.04495L30.8798 3.16799C36.9147 6.66864 43.0261 10.1386 49.1252 13.5H5.87109C12.0756 10.0797 18.1914 6.60715 24.1202 3.16798Z" transform="translate(5.5)" stroke="#8ABFE7" stroke-width="3" />
                        <circle cx="5.5" cy="5.5" r="4" transform="translate(27.5)" stroke="#CAD5D9" stroke-width="3" />
                        <circle cx="5.5" cy="5.5" r="4" transform="translate(27.5)" stroke="#8ABFE7" stroke-width="3" />
                        <path d="M1.5 3C1.5 2.17157 2.17157 1.5 3 1.5H63C63.8284 1.5 64.5 2.17157 64.5 3V9V51C64.5 51.8284 63.8284 52.5 63 52.5H3C2.17157 52.5 1.5 51.8284 1.5 51V9V3Z" transform="translate(0 12)" stroke="#CAD5D9" stroke-width="3" />
                        <path d="M1.5 3C1.5 2.17157 2.17157 1.5 3 1.5H63C63.8284 1.5 64.5 2.17157 64.5 3V9V51C64.5 51.8284 63.8284 52.5 63 52.5H3C2.17157 52.5 1.5 51.8284 1.5 51V9V3Z" transform="translate(0 12)" stroke="#8ABFE7" stroke-width="3" />
                        <path d="M3 1.5H63C63.8284 1.5 64.5 2.17157 64.5 3V9H1.5V3C1.5 2.17157 2.17157 1.5 3 1.5Z" transform="translate(0 12)" stroke="#CAD5D9" stroke-width="3" />
                        <path d="M3 1.5H63C63.8284 1.5 64.5 2.17157 64.5 3V9H1.5V3C1.5 2.17157 2.17157 1.5 3 1.5Z" transform="translate(0 12)" stroke="#8ABFE7" stroke-width="3" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(55.0586 29.5)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(47.2158 29.5)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(39.3721 29.5)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(31.5293 29.5)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(23.6865 29.5)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(55.0586 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(47.2158 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(39.3721 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(31.5293 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(23.6865 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(15.8428 38.1785)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(8 38.1785)" fill="#8ABFE7" />
                        <ellipse cx="1.75" cy="1.6875" rx="1.75" ry="1.6875" transform="translate(55.0586 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(47.2158 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(39.3721 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(31.5293 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(23.6865 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(15.8428 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(8 45.8928)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(39.3721 53.6072)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(31.5293 53.6072)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(23.6865 53.6072)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(15.8428 53.6072)" fill="#8ABFE7" />
                        <circle cx="1.75" cy="1.75" r="1.75" transform="translate(8 53.6072)" fill="#8ABFE7" />
                    </svg>


                    <h3 class="label-sans">Upcoming</h3>
                </div>
                <div class="appearance-list">
                    {% for item in site.data.appearances.upcoming %}
                    <div class="appearance">
                        <div>
                            <h4 class="h3-mono">{{ item.event }}</h4>
                            <h5 class="h5-mono"><span>{{ item.date }}</span> / {{ item.location }}</h5>
                        </div>
                        <a href="{{ item.link }}" class="btn btn-red" target="_blank">Learn More</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% for item in site.data.appearances.past reversed%}
    <section class="{% cycle 'alt-bg', '' %} past">
        <div class="container">
            {% if forloop.index == 1 %}
            <h2>Watch Past Talks</h2>
            {% endif %}
            <div class="appearance">
                <hgroup>
                    <h4 class="h3-mono">{{ item.event }}</h4>
                    <h5 class="h5-mono"><span>{{ item.date }}</span> / {{ item.location }}</h5>
                </hgroup>
                <div class="video-wrapper">
                    <iframe src="{{ item.videoSrc }}" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>
    {% endfor %}


</main>