---
layout: default
custom_js:
- jquery.waypoints.min
- d3
- RadarChart
- CITL_D3_RadarChart
- CITL_RadarChart
- home
- knockout-3.4.2
- CITL_Colors
- Index
---
<main id="home">
    <section class="hero dark-section">
        <div class="container">
            <h2 class="h4-display">Our Mission</h2>
            <h1>We work for a fair, just, and safe software marketplace for all consumers, <em>empowering&nbsp;consumers</em> to protect themselves.</h1>
            <a href="#evaluate" class="explore-link">Explore</a>
        </div>
    </section>
    <section id="evaluate">
        <div class="container">
            <div class="width-small">
                <h2>Latest Blog Post:</h2>
                <p class="body-center">
                {%- assign latest_post = site.posts[0] -%}
                <a href="{{ latest_post.url }}">{{ latest_post.title }}</a>
                </p>
            </div>

            <div class="width-small">
                <h2>How We Evaluate</h2>
                <p class="body-lg">We take software binaries and look at the safety features that are present, the functions that were used, the code complexity, and where possible, the software's performance during crash testing. We evaluate the compiled software that your computer would run, not the source code. Some safety features aren't added until compile time, so source code presents an incomplete view, and getting access to source code would require signing NDAs with vendors, which would compromise our position as an independent testing organization.</p>
            </div>
            <div class="width-large">
                <div class="row categories">
                    <div class="col-12 col-lg-6">
                        <img src="{{ '/assets/images/Shield.svg' | relative_url }}" alt="" />
                        <h3 class="h4-mono">Safety Features</h3>
                        <p>Also known as "Application Armoring". Modern compilers, linkers, and loaders come with lots of safety features, but they won't do you any good if the software doesn't have them enabled. These features are to software what airbags and seatbelts are to cars: things that are known and proven to improve safety, and whose use should be established by now as industry-standard. If your car doesn't have airbags, you're entitled to know that before you buy it.</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="{{ '/assets/images/Shower.svg' | relative_url }}" alt="" />
                        <h3 class="h4-mono">Code Hygiene</h3>
                        <p>There are things we can learn about a developer's security skill and knowledge based on what functions are used in the code they write. We evaluate about 500 functions that fall into these categories, and by looking at the frequency, count, and consistency of the function used we can learn a lot about the developer practices of a particular software vendor.</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="{{ '/assets/images/CodeBranch.svg' | relative_url }}" alt="" />
                        <h3 class="h4-mono">Code Complexity</h3>
                        <p>Complex code is harder to review and maintain, and is more likely to contain bugs. This is why NASA/JPL put limits on things like function size for code that's going into critical systems. Some features we look at are Code Size and the Number of Libraries used.</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="{{ '/assets/images/Crash.svg' | relative_url }}" alt="" />
                        <h3 class="h4-mono">Crash Testing</h3>
                        <p>One established way to test a product is to see how it breaks or fails. Crash testing, or fuzzing, means that you provide bad inputs to software so that you can see how it fails. If the software is well built, it will be more robust in the face of bad inputs. If it is very badly built, then it will crash in ways that might indicate how the software could be exploited.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="spacer"></div>
    <section class="chart-explainer dark-section" id="chart-explainer">
        <div class="fixed-wrapper">
            <div class="container">
                <h2>The Shape of Our&nbsp;Scores</h2>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div id="accordion">
                            <div class="accordion-1 open">
                                <span class="open-close-icon"><span class="vertical"></span><span class="horizontal"></span></span>
                                <h3><button class="no-btn-style style-h3">Secure Software</button></h3>
                                <div id="chart-a1" class="d-lg-none radar-chart"></div>
                                <div class="accordion-content">
                                    <p>Highly secured software will score highly in all of our scoring categories. Each category is represented as a corner of the triangle. If the software scores well in that category the point will be closer to the outside of the triangle.</p>
                                </div>
                            </div>
                            <div class="accordion-2">
                                <span class="open-close-icon"><span class="vertical"></span><span class="horizontal"></span></span>
                                <h3><button class="no-btn-style style-h3">Somewhat Secure Software</button></h3>
                                <div id="chart-a2" class="d-lg-none radar-chart"></div>
                                <div class="accordion-content">
                                    <p>Somewhat secured software will score okay in our scoring categories. Each category is represented as a corner of the triangle. If the software scores okay in that category the point will be between the center and the outside of the triangle.</p>
                                </div>
                            </div>
                            <div class="accordion-3">
                                <span class="open-close-icon"><span class="vertical"></span><span class="horizontal"></span></span>
                                <h3><button class="no-btn-style style-h3">Insecure Software</button></h3>
                                <div id="chart-a3" class="d-lg-none radar-chart"></div>
                                <div class="accordion-content">
                                    <p>Insecure software will not score well in our scoring categories. Each category is represented as a corner of the triangle. If the software scores poorly in that category the point will be close to the center of the triangle.</p>
                                </div>
                            </div>
                            <div class="accordion-4">
                                <span class="open-close-icon"><span class="vertical"></span><span class="horizontal"></span></span>
                                <h3><button class="no-btn-style style-h3">Comparing Security</button></h3>
                                <div id="chart-a4" class="d-lg-none radar-chart"></div>
                                <div class="accordion-content">
                                    <p>Often software will score high in some categories and lower in others. You can compare the strengths and weakness of different software by observing the shape created by these variable category scores. For example, green has a better score than red for Code Hygiene, but does worse than red on Safety Features.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-btn">
                            <a href="/about/methodology/#scoring" class="btn">More About Scoring</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-none d-lg-block">
                        <div id="chart" class="radar-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comparisons dark-section" id="risk-comparison">
        <div>
            <div class="container">
                <h2 class="h3-mono">Software Risk Comparisons</h2>
                <ul role="tablist" id="comparison-menu">
                    <li> <a role="tab" class="current-tab" href="#chart-1" id="tab-1"><span>Operating Systems</span></a> </li>
                    <li> <a role="tab" href="#chart-2" id="tab-2"><span>Browsers</span></a> </li>
                    <li> <a role="tab" href="#chart-3" id="tab-3"><span>Smart TVs</span></a> </li>
                    <li> <a role="tab" href="#chart-4" id="tab-4"><span>Office Updates</span></a> </li>
                </ul>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="compare-tab" role="tabpanel" id="chart-1">
                            <h3 class="style-h2">Major Operating Systems</h3>
                            <p class="body-mono">Which Operating Systems best guard against attack?</p>
                            <ul class="score-list" data-bind="foreach: osDevices">
                                <li data-bind="css: colorClass">
                                    <button class="style-h3" data-bind="css: safetyRatingClass">
                                        <span>
                                            <span data-bind="html: iconSVG" class="device-logo"></span>
                                            <span data-bind="text: displayName, css: colorClass"></span>
                                        </span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve"><title>Rating</title><path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" /><path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
                   C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" /><path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" /><path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
                   C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" /><path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" /><path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
                   C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" /><path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" /><path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
                   C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" /><path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" /><path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
                   V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" /></svg>
                                    </button>
                                </li>
                            </ul>
                            <div id="chart-t1" class="d-lg-none radar-chart"></div>
                            <div class="btn-wrapper">
                                <a class="btn" href="comparisons/comparison.html?comparisonType=OS">Detailed Comparison</a>
                            </div>
                        </div>
                        <div class="compare-tab" role="tabpanel" id="chart-2">
                            <ul class="tabs" id="browser-comparison">
                                <li>
                                    <button class="selected">Windows 10</button>
                                </li>
                                <li>
                                    <button>mac OS</button>
                                </li>
                                <li>
                                    <button>Linux Ubuntu</button>
                                </li>
                            </ul>
                            <h3 class="style-h2">Browsers</h3>
                            <p class="body-mono">How risky is the use of different popular web browsers?</p>
                            <div id="browser-comparison-windows">
                                <ul class="score-list" data-bind="foreach: windowsBrowserDevices">
                                    <li data-bind="css: colorClass">
                                        <button class="style-h3" data-bind="css: safetyRatingClass">
                                            <span>
                                                <span data-bind="html: iconSVG" class="device-logo"></span>
                                                <span data-bind="text: displayName, css: colorClass"></span>
                                            </span>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve">
<title>Rating</title>
                                            <path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
	V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" />
</svg>
                                        </button>
                                    </li>
                                </ul>
                                <div id="chart-t2" class="d-lg-none radar-chart"></div>
                                <div class="btn-wrapper">
                                    <a class="btn" href="comparisons/comparison.html?comparisonType=browser&operatingSystem=Windows">Detailed Comparison</a>
                                </div>
                            </div>
                            <div id="browser-comparison-osx" style="display: none">
                                <ul class="score-list" data-bind="foreach: osxBrowserDevices">
                                    <li data-bind="css: colorClass">
                                        <button class="style-h3" data-bind="css: safetyRatingClass">
                                            <span>
                                                <span data-bind="html: iconSVG" class="device-logo"></span>
                                                <span data-bind="text: displayName, css: colorClass"></span>
                                            </span>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve">
                                            <title>Rating</title>
                                            <path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
		C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
		C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
		C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
		C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
		V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" />
	</svg>
                                        </button>
                                    </li>
                                </ul>
                                <div id="chart-t3" class="d-lg-none radar-chart"></div>
                                <div class="btn-wrapper">
                                    <a class="btn" href="comparisons/comparison.html?comparisonType=browser&operatingSystem=OSX">Detailed Comparison</a>
                                </div>
                            </div>
                            <div id="browser-comparison-linux" style="display: none">
                                <ul class="score-list" data-bind="foreach: linuxBrowserDevices">
                                    <li data-bind="css: colorClass">
                                        <button class="style-h3" data-bind="css: safetyRatingClass">
                                            <span>
                                                <span data-bind="html: iconSVG" class="device-logo"></span>
                                                <span data-bind="text: displayName, css: colorClass"></span>
                                            </span>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve">
                                            <title>Rating</title>
                                            <path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
			C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
			C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
			C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
			C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                            <path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
                                            <path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
			V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" />
		</svg>
                                        </button>
                                    </li>
                                </ul>
                                <div id="chart-t4" class="d-lg-none radar-chart"></div>
                                <div class="btn-wrapper">
                                    <a class="btn" href="comparisons/comparison.html?comparisonType=browser&operatingSystem=Linux">Detailed Comparison</a>
                                </div>
                            </div>
                            </div>
                        <div class="compare-tab" role="tabpanel" id="chart-3">
                            <h3 class="style-h2">Smart TVs</h3>
                            <p class="body-mono">How risky is the use of different popular web browsers?</p>
                            <ul class="score-list" data-bind="foreach: smarttvDevices">
                                <li data-bind="css: colorClass">
                                    <button class="style-h3" data-bind="css: safetyRatingClass">
                                        <span>
                                            <span data-bind="html: iconSVG" class="device-logo"></span>
                                            <span data-bind="text: displayName, css: colorClass"></span>
                                        </span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve">
<title>Rating</title>
                                        <path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
	V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" />
</svg>
                                    </button>
                                </li>
                            </ul>
                            <p class="note">* A note about why Hardened Linux Code Complexity is at 0...</p>
                            <div id="chart-t5" class="d-lg-none radar-chart"></div>
                            <div class="btn-wrapper">
                                <a class="btn" href="comparisons/comparison.html?comparisonType=smarttv">Detailed Comparison</a>
                            </div>
                        </div>
                        <div class="compare-tab" role="tabpanel" id="chart-4">
                            <h3 class="style-h2">Microsoft Office Upgrades</h3>
                            <p class="body-mono">When is it worth it to buy an upgrade? We compared MS Office 2011 with the 2016 version (on OS X) to see how much security improved between versions.</p>
                            <ul class="score-list" data-bind="foreach: microsoftofficeDevices">
                                <li data-bind="css: colorClass">
                                    <button class="style-h3" data-bind="css: safetyRatingClass">
                                        <span>
                                            <span data-bind="html: iconSVG" class="device-logo"></span>
                                            <span data-bind="text: displayName, css: colorClass"></span>
                                        </span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 137.542 27" style="enable-background:new 0 0 137.542 27;" xml:space="preserve">
<title>Rating</title>
                                        <path class="st1" d="M11,12H6.5V8c0-2.5,2-4.5,4.5-4.5V0C6.6,0,3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M20,12h-1V8c0-4.4-3.6-8-8-8S3,3.6,3,8v4H2c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C22,12.9,21.1,12,20,12z M6.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M40,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M49,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C51,12.9,50.1,12,49,12z M35.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M69,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M78,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C80,12.9,79.1,12,78,12z M64.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M98,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M107,12h-1V8c0-4.4-3.6-8-8-8s-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2V14
	C109,12.9,108.1,12,107,12z M93.5,8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v4h-9V8z" />
                                        <path class="st1" d="M127,12h-4.5V8c0-2.5,2-4.5,4.5-4.5V0c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h9V12z" />
<path class="st0" d="M136,12h-1V8c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v4h-1c-1.1,0-2,0.9-2,2v11c0,1.1,0.9,2,2,2h18c1.1,0,2-0.9,2-2
	V14C138,12.9,137.1,12,136,12z M122.5,8c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5v4h-9V8z" />
</svg>
                                    </button>
                                </li>
                            </ul>
                            <p class="note">* A note about why Office 2016 Code Complexity is at 0...</p>
                            <div id="chart-t6" class="d-lg-none radar-chart"></div>
                            <div class="btn-wrapper">
                                <a class="btn" href="comparisons/comparison.html?comparisonType=microsoftoffice">Detailed Comparison</a>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors">
        <div class="container">
            <h2>Thanks to our Sponsors & Partners</h2>
            <p class="body-lg width-small">As one of the only nonprofit research organizations of our kind, we test software and computing products through expert scientific inquiry into safety and risk. More importantly, we advise, empower, and educate consumers in their use of those products and software. With our partners and supporters, we're making the digital age safer for everyone.</p>
            <div class="row align-items-center text-center">
                <div class="col-12 col-sm-6 col-lg-3"> <img src="{{ '/assets/images/ford_logo.svg' | relative_url }}" alt="Ford Foundation logo" title="Ford Foundation" class="img-fluid" /> </div>
                <div class="col-12 col-sm-6 col-lg-3"> <img src="{{ '/assets/images/CR-logo.svg' | relative_url }}" alt="Consumer Reports logo" title="Consumer Reports" class="img-fluid" /> </div>
                <div class="col-12 col-sm-6 col-lg-3"> <img src="{{ '/assets/images/stripe_logo.svg' | relative_url }}" alt="Stripe logo" title="Stripe" class="img-fluid" /> </div>
                <div class="col-12 col-sm-6 col-lg-3"> <img src="{{ '/assets/images/Digital-Standard.png' | relative_url }}" alt="The Digital Standard logo" title="The Digital Standard" class="img-fluid" /> </div>
            </div>
        </div>
    </section>
</main>
